@import './fonts.css';
@import './reset.css';
@import './common.css';





/* ---------- header ---------- */
#header {
  position: relative;
  /* padding: 35px 20px 0; */
}



/* header - nav */
#header .header-nav {
  position: relative;
  padding: 35px 20px 0;
  z-index: 100;
}
#header .header-nav::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, .1);
  transform: translateX(-50%);
  z-index: -1;
}
#header .header-nav .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  height: 95px;
}
#header #logo {
  background: url('../images/main-logo.png') no-repeat center / 100%;
  width: 199px;
  height: 41px;
}
#header #logo > a {
  display: block;
  width: 100%;
  height: 100%;
}
#header #gnb {
  height: 100%;
}
#header #gnb .gnb-list {
  display: flex;
  gap: 57px;
  height: 100%;
}
#header #gnb .gnb-item {
  height: 100%;
  color: #222;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: -1px;
}
#header #gnb .gnb-item > a {
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
#header .menu {
  display: none;
}
#header:before{content:none;position:absolute;top:130px;left:0;width:100%;height:100vh;background:rgba(0,0,0,.3);z-index:99;}
#header.on:before{content:'';}









/* 서브메뉴 */
#header .gnb-sub {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  background: #fff;
  border-radius: 0 0 50px 50px;
  z-index: 10;
}
#header .gnb-sub.active {
  display: flex;
  height: auto;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  overflow: hidden;
}
#header .gnb-sub-list {
  padding-left: 24px;
}
#header .gnb-sub-item {
  line-height: 30px;
  height: 30px;
  font-size: 13px;
  color: #50585f;
}
#header .gnb-sub .depth2-tit {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  padding-top: 47px;
  padding-left: calc((100vw - 1400px) / 2);
  border-radius: 0 50px 0 50px;
  background-color: #f6f1f1;
  background-image: url(../images/ico-bg-01.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  z-index: 1;
}
#header .gnb-sub .depth2-tit span {
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #7a7d86;
  font-size: 16px;
  font-weight: 400;
  padding: 19px 0 0 15px
}
#header .gnb-sub .depth2-tit span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
#header .gnb-sub.sub01 .depth2-tit span:before {
  background: #867a7a;
}
#header .gnb-sub.sub02 .depth2-tit span:before {
  background: #dd3f50;
}
#header .gnb-sub.sub03 .depth2-tit span:before {
  background: #2e69ac;
}
#header .gnb-sub.sub04 .depth2-tit span:before {
  background: #2e9575;
}
#header .gnb-sub.sub05 .depth2-tit span:before {
  background: #1f96a1;
}
#header .gnb-sub.sub06 .depth2-tit span:before {
  background: #d18415;
}
#header .gnb-sub.sub07 .depth2-tit span:before {
  background: #7659a1;
}
#header .gnb-sub.sub08 .depth2-tit span:before {
  background: #867a7a;
}
#header .gnb-sub .depth2-tit p {
  display: block;
  position: relative;
  color: #1d1f26;
  padding-left: 15px;
  font-size: 32px;
  font-weight: 700;
}
#header .gnb-sub .depth2-list {
  position: relative;
  height: 100%;
  margin-left: 25%;
  padding: 20px 0;
  border-radius: 0 0 50px 0;
  border-top: 1px solid #eaeaee;
}
#header .gnb-sub .depth2-list::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 280px;
  height: 100%;
  background: #867a7a;
  z-index: -1;
}
#header .gnb-sub .depth2-list .depth2-item {
  display: flex;
}
#header .gnb-sub .depth2-list .depth2-item > a {
  display: flex;
  width: 230px;
  height: auto;
  padding: 15px 0 15px 25px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  background: #867a7a;
}
#header .gnb-sub .depth2-list .depth2-item:last-child > a {
  border: none;
}
#header .gnb-sub .depth2-list .depth3-list {
  position: relative;
  display: flex;
  flex: 1;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: -10px;
  padding: 13px 0;
  padding-right: 50px;
} 
#header .gnb-sub .depth3-list::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #eaeaee;
}
#header .gnb-sub .depth2-list .depth2-item:last-child .depth3-list::after {
  content: none;
}
#header .gnb-sub .depth2-list .depth3-item {
  position: relative;
  margin-top: 10px;
  margin-right: 20px;
  padding-left: 20px;
}
#header .gnb-sub .depth2-list .depth3-item a {
  display: block;
  position: relative;
  padding-left: 10px;
  line-height: 1.5rem;
  color: #444;
  font-size: 16px;
  font-weight: 400;
  transition: all .2s;
} 
#header .gnb-sub .depth2-list .depth3-item a:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  transform: translateY(-50%);
  background: #d6dadc;
}
#header .gnb-sub.sub02 .depth2-list::before,
#header .gnb-sub.sub02 .depth2-list .depth2-item > a  {
  background: #dd3f50;
}
#header .gnb-sub.sub02 .depth2-tit {
  background-color: #f9f2f3;
  background-image: url(../images/ico-bg-02.png);
}

#header .gnb-sub.sub03 .depth2-list::before,
#header .gnb-sub.sub03 .depth2-list .depth2-item > a  {
  background: #2e69ac;
}
#header .gnb-sub.sub03 .depth2-tit {
  background-color: #ebf2f9;
  background-image: url(../images/ico-bg-03.png);
}
#header .gnb-sub.sub04 .depth2-list::before,
#header .gnb-sub.sub04 .depth2-list .depth2-item > a  {
  background: #2e9575;
}
#header .gnb-sub.sub04 .depth2-tit {
  background-color: #ebf2f9;
  background-image: url(../images/ico-bg-04.png);
}
#header .gnb-sub.sub05 .depth2-list::before,
#header .gnb-sub.sub05 .depth2-list .depth2-item > a  {
  background: #1f96a1;
}
#header .gnb-sub.sub05 .depth2-tit {
  background-color: #f1f7f8;
  background-image: url(../images/ico-bg-05.png);
}
#header .gnb-sub.sub06 .depth2-list::before,
#header .gnb-sub.sub06 .depth2-list .depth2-item > a  {
  background: #d18415;
}
#header .gnb-sub.sub06 .depth2-tit {
  background-color: #f1f7f8;
  background-image: url(../images/ico-bg-06.png);
}
#header .gnb-sub.sub07 .depth2-list::before,
#header .gnb-sub.sub07 .depth2-list .depth2-item > a  {
  background: #7659a1;
}
#header .gnb-sub.sub07 .depth2-tit {
  background-color: #f3f0f8;
  background-image: url(../images/ico-bg-07.png);
}












/* header - util */
#header .header-util {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  padding: 0 20px;
  z-index: 100;
}
#header .header-util::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #31343d;
  padding: 0 20px;
}
#header .header-util .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;
  color: #fff;
  width: 100%;
  max-width: 1400px;
}
#header .header-util .inner::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  background: #dc142a;
}



/* 왼쪽 날씨 */
#header .header-util .inner .weather-list {
  display: flex;
  align-items: center;
  gap: 35px;
}
#header .header-util .inner .weather-list-sub ul {
  display: flex;
  gap: 35px;
}


#header .header-util .inner .weather-item {
  display: flex;
  gap: 15px;
  font-size: 13px;
  color: #fff;
  position: relative;
}
#header .header-util .inner .weather-item:not(:first-child)::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(15deg);
  background: #454550;
  left: -20px;
  width: 1px;
  height: 13px;
}
#header .header-util .weather-item a {
  display: flex;
  align-items: center;
}
#header .header-util .weather-item a .date {
  font-size: 16px;
  font-weight: 500;
}
#header .header-util .weather-item .weather {
  display: flex;
  gap: 9px;
  align-items: center;
  margin-left: 16px;
}
#header .header-util .weather-item .weather::before {
  content: '';
  display: inline-block;
  background: url('../images/ico-weather.png') no-repeat;
  background-size: contain;
  width: 23px;
  height: 16px;
}


/* 오른쪽 유틸 */
#header .header-util .util-list {
  display: flex;
}
#header .header-util .util-list .lang {
  width: 140px;
}
#header .header-util .util-list .sns {
  width: 135px;
}
#header .header-util .util-list a {
  display: inline-block;
  position: relative;
  padding: 0 27px;
  width: 100%;
  line-height: 35px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  background: #31343d;
  border-left: 1px solid #43464e;
}

#header .header-util .util-list .cont a {
  padding: 0 15px;
}
#header .header-util .util-list .cont > a:after {
  content: '';
  position: absolute;
  background: url(../images/ico-open.png) no-repeat center;
  width: 9px;
  height: 5px;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  transition: .3s;
}

#header .header-util .lang {
  position: relative;
}
#header .header-util .lang .lang-list {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}
#header .header-util .lang .lang-item {
  border-top: 1px solid #43464e;
  background: #2c2f37;
}
#header .header-util .lang .lang-item > a {
  display: block;
  width: 100%;
  padding: 0 15px;
  color: #fff;
}
#header .header-util .lang .lang-item:hover > a {
  background:#242836
}
#header .header-util .util-list .cont.active a:after {
  transform: translateY(-50%) rotate(180deg);
}



#header .header-util .sns {
  position: relative;
}
#header .header-util .sns .sns-list {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}
#header .header-util .sns .sns-item {
  border-top: 1px solid #43464e;
  background: #2c2f37;
}
#header .header-util .sns .sns-item > a {
  display: block;
  width: 100%;
  padding: 0 15px;
  color: #fff;
  font-size: 13px;
}
#header .header-util .sns .sns-item:hover > a {
  background:#242836
}
#header .header-util .sns .sns-item i {
  position: relative;
  padding-left: 30px;
}
#header .header-util .sns .sns-item i:before {
  content: '';
  position: absolute;
  top: calc(50% - 9px);
  left: 0;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
}

#header .header-util .sns .sns-item.sns01 i:before {
  background: url(../images/ico-util-youtube.png);
}
#header .header-util .sns .sns-item.sns02 i:before {
  background: url(../images/ico-util-blog.png);
}
#header .header-util .sns .sns-item.sns03 i:before {
  background: url(../images/ico-util-facebook.png);
}
#header .header-util .sns .sns-item.sns04 i:before {
  background: url(../images/ico-util-insta.png);
}
#header .header-util .sns .sns-item.sns05 i:before {
  background: url(../images/ico-util-kakao.png);
}
#header .header-util .sns .sns-item.sns06 i:before {
  background: url(../images/ico-util-x.png);
}
#header .header-util .sns .sns-item.sns07 i:before {
  background: url(../images/ico-util-band.png);
}




#header .header-util .util-list .cont.active a:after {
  transform: translateY(-50%) rotate(180deg);
}






#header .header-util .sitemap {
  background: #dc142a;
  border-radius: 0 0 0 20px;
}
#header .header-util .sitemap a {
  border-left: 0;
  width: 50%;
  height: 100%;
  background: url('../images/ico-sitemap.png') no-repeat center;
}



/* header - search */
#header .header-search {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 60px 0 30px;
}
#header .header-search .inner {
  position: relative;
}
.header-search .img-area {
  position: absolute;
  left: 0;
  top: 0;
}
.header-search .search-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-search .search-area form {
  /* width: 595px; */
  max-width: 595px;
  width: 100%;
  border: 3px solid #de142a;
  border-radius: 50px;
  overflow: hidden;
  height: 50px;
}
.header-search .search-area fieldset {
  height: 100%;
  display: flex;
  position: relative;
}
.header-search .search-area input {
  outline: 0;
  flex: 1;
  padding: 0 10px
}
.header-search .search-area .btn-submit {
  position: absolute;
  right: 0;
  margin-right: -2px;
  margin-top: -1px;
  background: url('../images/ico-search.png') no-repeat center;
  background-color: #de142a;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.header-search .search-area .keyword-box {
  display: flex;
  margin-top: 11px;
}
.header-search .search-area .keyword-box .title {
  position: relative;
  padding-left: 15px;
  color: #40444e;
  font-size: 16px;
  font-weight: 700;
}
.header-search .search-area .keyword-box .title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 11px;
  height: 11px;
  background: url('../images/ico-star.png') no-repeat;
}
.header-search .search-area .key-list {
  display: flex;
  gap: 30px;
  margin-left: 30px;
}
.header-search .search-area .key-item a {
  color: #666;
  font-size: 14px;
  font-weight: 500;
}
.header-search .search-area .key-item a:hover {
  text-decoration: underline;
}






/* 서브메뉴 */
.sub {
  display: flex;
  background: #f00;
  width: 100%;
  height: 80%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  
  display: none;
}
.sub.on {
  visibility: visible;
  opacity: 1;
}








/* ---------- footer ---------- */
#footer {
  border-top: 1px solid #eaeaee;
  padding: 0 20px;
  background: #31343d;
  position: relative;
}

#footer::after {
  position: absolute;
  top: 69px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #454550;
}

/* 상단 */
#footer .footer-header {
  display: flex;
  justify-content: space-between;
}
#footer .footer-header .gnb-list {
  display: flex;
  gap: 37px;
  height: 100%;
}
#footer .footer-header .gnb-item {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  line-height: 23px;
}
#footer .footer-header .gnb-item.privacy a {
  color: #f3cd1e;
  font-weight: 500;
}
#footer .footer-header .gnb-item:not(:first-child):before {
  content: '';
  position: absolute;
  top: 50%;
  left: -20px;
  width: 1px;
  height: 13px;
  transform: translateY(-50%) rotate(15deg);
  background: #454550;
}
#footer .footer-header .gnb a {
  color: #fff;
  font-size: 16px;
}
#footer .footer-header .link-list {
  display: flex;
  align-items: center;
}
#footer .footer-header .link-item {
  height: 100%;
  border-left: 1px solid #454550;
  border-right: 0;
}
#footer .footer-header .link-item:last-child {
  border-right: 1px solid #454550;
}
#footer .footer-header .link-item a {
  color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 29px;
  font-size: 16px;
  font-weight: 500;
  line-height: 69px;
}
#footer .footer-header .link-item.homepage {
  width: 215px;
  line-height: 69px;
}
#footer .footer-header .link-item.homepage a {
  padding: 0 15px;
  position: relative;
  justify-content: start;
}
#footer .footer-header .link-item.homepage a::after {
  content: '';
  position: absolute;
  background: url('../images/ico-open.png') no-repeat center;
  width: 9px;
  height: 5px;
  top: 32px;
  right: 15px;
  transform: rotate(180deg);
}





/* 하단 */
#footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 50px;
}
#footer .group-info address {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
#footer .group-info address .addr {
  margin-bottom: 3px;
}
#footer .group-info address .customer {
  display: flex;
  align-items: center;
}
#footer .group-info address .tel {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
#footer .group-info address .time {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 25px;
}
#footer .group-info address .time::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 13px;
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
  background: #44474f;
}
#footer .group-info address .copy {
  display: block;
  margin-top: 20px;
  color: #999a9d;
  font-size: 15px;
  font-weight: 300;
}
#footer .footer-bottom .mark-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
#footer .footer-bottom .mark-list a {
  display: block;
}














/* ---------- 반응형 ---------- */

@media screen and (min-width: 1920px) {
  #header .gnb-sub .depth2-tit {
    padding-left: 15vw;
  }
}

@media screen and (max-width: 1550px) {
  #header .header-search  {
    padding: 40px 60px 0 10px;
  }
}



@media screen and (max-width: 1400px) {
  #header .gnb-sub .depth2-tit {
    padding-left: 20px;
  }
  #header .gnb-sub .depth2-list .depth2-item > a {
    font-size: 16px;
  }
  #header .gnb-sub .depth2-list .depth3-item a {
    font-size: 15px;
  }
  #header #gnb .gnb-list li {
    font-size: 19px;
  }
  #header #gnb .gnb-list {
    gap: 40px;
  }

  
  #footer .footer-header .gnb a,
  #footer .footer-header .link-item a,
  #footer .group-info address {
    font-size: 15px;
  }
  #footer .footer-header .link-item a {
    padding: 0 20px;
  }
  #footer .footer-header .gnb-list {
    gap: 25px;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 0;
  }
  #footer .group-info address .tel {
    font-size: 17px;
  }








}




@media screen and (max-width: 1240px) {


  #footer .footer-header {
    flex-direction: column-reverse;
    height: auto
  }
  #footer .footer-header .link-item,
  #footer .footer-header .link-item:last-child {
    border: none;
  }
  
  #footer .footer-header .link-item:nth-child(1),
  #footer .footer-header .link-item:nth-child(3) {
    margin-right: 10px;
  }
  
  
  #footer::after {
    display: none;
  }
  

  #footer .footer-header .link-item a {
    padding: 0 20px;
    line-height: 45px;
    border: 1px solid #454550;
    border-radius: 6px;
  }

  #footer .footer-header .link-list {
    margin: 20px 0 25px;
  }


  #footer .footer-header .link-item.homepage a::after {
    top: 50%;
  }


}






@media screen and (max-width: 1200px) {
  #header .header-nav  {
    padding: 0;
  }
  #header .header-nav,
  #header .header-nav .inner {
    height: 70px;
  }
  #gnb {
    display: none;
  }

  #header #logo {
    width: 155px;
    height: 32px;
    margin-left: 20px;
  } 


  
  /* #header .header-util {
    padding: 0 20px;
  } */


  #header .header-util::before {
    content: none;
  }

  #header .header-util .inner .weather-list {
    display: flex;    
    position: absolute;
    top: 110px;
    left: 50%;
    height: auto;
    transform: translateX(-50%);
    margin-left: 20px;
  }

  #header .header-util .inner .weather-list::after {
    content: '';
    position: absolute;
    top: calc(50% - 26px);
    width: 1px;
    height: 52px;
    background: #ddd;
    left: 45%;
    transform: translateX(-50%);
  }



  #header .header-util .inner .weather-item {
    color: #333;
    line-height: normal;
  }

  #header .header-util .inner .weather-item:not(:first-child)::before {
    display: none;
  }

  #header .header-util .inner .weather-item a {
    flex-direction: column;
    font-size: 13px;
    color: #666666;
  }
  #header .header-util .inner .weather-list-sub ul {
    display: block;
  }
  #header .header-util .weather-item .weather {
    margin-left: 0;
  }
  #header .header-util .weather-item span {
    font-size: 14px;
    color: #31343d;
    font-weight: 500;
  }


  #header .header-util .inner .util-list {
    display: none;
  }



  #header .menu {
    display: block;
    width: 70px;
    height: 100%;
    border-radius: 0 0 0 20px;
    text-indent: -9999px;
    background: #d21529 url(../images/ico-momenu.png) no-repeat center;
  }


  .header-search .img-area {
    position: relative;
    width: 240px;
    margin: 60px auto 0;
    display: block;
  }

  .header-search .img-area img {
    width: 240px;
    margin: 30px auto 0;
  }

  
  #header .header-search {
    padding: 40px 20px 0 20px;
  }

  .header-search .search-area {
    max-width: 1000px;
    width: 100%;
    margin: 30px auto 42px;
  }



  #header .header-util .weather-item .weather {
    color: #242424;
    font-size: 22px;
    font-weight: 700;
  }

  #header .header-util .weather-item .weather::before {
    position: absolute;
    right: 110%;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
  }
}




@media screen and (max-width: 768px) {
 
  #footer .footer-header .link-item a {
    justify-content: start;
  }

}





/* 모바일  820px~320px */
@media screen and (max-width: 768px) {

  .header-search .search-area form {
    max-width: none;
  }
  .header-search .search-area {
    align-items: start;
  }
  .header-search .search-area .key-list {
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 0;
  }
  .header-search .search-area .keyword-box .title::before {
    top: 10px;
  }

  .group-info {
    text-align: center;
  }
  #footer .footer-header .link-list {
    flex-wrap: wrap;
  }

  #footer .footer-header .link-item,
  #footer .footer-header .link-item.homepage {
    width: calc(50% - 5px);
  }

  #footer .footer-header .link-item:nth-child(1),
  #footer .footer-header .link-item:nth-child(3) {
    margin-bottom: 10px;
  }


  #footer .footer-header .link-list {
    display: block;
  }
  #footer .footer-header .link-item, #footer .footer-header .link-item.homepage {
    width: 100%;
  }
  #footer .footer-header .gnb-list {
    justify-content: center;
  }

  #footer .group-info address .customer {
    flex-direction: column;
  }
  #footer .footer-bottom .mark-list {
    flex-direction: column;
    gap: 10px;
  }
  #footer .footer-bottom {
    padding: 30px 0 20px;
  }
  #footer .group-info address .time::before {
    content: none;
  }



}





@media screen and (max-width: 450px) {

  .header-search .search-area .keyword-box {
    flex-direction: column;
  }
  .header-search .search-area .key-list {
    margin-left: 0;
  }

}